<div class="modal fade" id="ficheAfaModal" tabindex="-1" role="dialog" aria-labelledby="ficheAfaModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 900px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Exemple de fiche de paie AFA</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="/bundles/leasing/images/fiche-afa.png" alt="fiche" width="850">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer
                </button>
            </div>
        </div>
    </div>
</div>