<div style="width: 2400px; height: 1500px;
    margin: 0;
    padding: 0;
    background: #000;
    position: relative;
    overflow: hidden;">
    <div class="pyro">
        <div class="before"></div>
        <div class="after"></div>
    </div>
</div>
