{% extends '@AcMarcheLeasing/layout.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Liste des leasings vélo</h3>

        <div class="card-body">
           no
        </div>

    </div>
{% endblock %}