{% extends '@AcMarcheLeasing/layout.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">A propos du leasing vélo</h3>

        <div class="card-body">

            A l’initiative du Collège communal, le Conseil communal propose un service de leasing vélo.
            <br/><br/>
            <strong>Objectif :</strong> permettre une mobilité plus douce, respectueuse de l’environnement et favorisant
            la bonne santé
            des agents.
            <br/><br/>
            <strong>Pour qui ?</strong> <br/>Les membres du personnel de l’administration communale, du CPAS, de la
            RESCAM et des ASBL
            para-communales. <br/>Ce leasing (location-vente) est l’occasion d’acquérir le vélo de son choix auprès de
            trois
            détaillants : Bike Boudoux Sport, Benoît Lambert et Mojo Vélo (plus d’infos ci-dessous).
            <br/><br/>
            <strong>Avantage de la formule ?</strong>
            <br/>Le vélo et les accessoires choisis sont financés par le
            montant brut de la prime de
            fin d’année.
            <br/>La capacité de financement de chacun est ainsi augmentée et présente un avantage non
            négligeable car il diminue le coût à charge de l’agent.
            <br/><br/>
            <strong>En contrepartie</strong>, <br/>le vélo doit être utilisé régulièrement pour les déplacements
            domicile-travail tout en
            étant utilisé librement dans le cadre privé <a href="{{ asset('bundles/leasing/Politique-velo.pdf') }}" target="_blank">(voir respect de la politique vélo)</a>.
            <br/>Une indemnité de 0,36 €/km (montant applicable au 1er janvier 2025) est octroyée pour utilisation du
            vélo sur le chemin du travail.
            <br/><br/>
            <strong>Comment ça marche ?</strong><br/> Le Vélo est sous location pour une durée de trois ans. Une
            assurance et assistance obligatoires ainsi qu’un entretien sont intégrés au montant financé.
            <br/>L’acquisition est possible au terme de la période de leasing moyennant le paiement d’une valeur
            résiduelle de 15,01% du vélo.
            <br/>Grâce au simulateur mis à votre disposition, vous constaterez que ce service est avantageux.
            <br/> Vous pouvez souscrire au leasing tout au long de l’année à la condition d’être en contrat à durée
            indéterminée.
            <br/><br/>
            <strong>Comment calculer le prix ?</strong>
            <br/>Utilisez le simulateur.
            <br/><br/>
            <ul class="list-group">
                <li class="list-group-item">
                    Via l’intranet, le simulateur se trouve dans l’onglet « Leasing vélo » ;
                </li>
                <li class="list-group-item">
                    Si vous n’avez pas accès à l’intranet, utilisez le lien suivant : <a
                            href="https://extranet.marche.be/" target="_blank">https://extranet.marche.be</a>
                    (cliquez sur « Simulateur leasing vélo »).
                </li>
            </ul>
            <br/><br/>
            Si vous souhaitez avoir une idée de l’offre de vélos des trois détaillants, voici leurs coordonnées :
            <br/><br/>
            <ul class="list-group">
                <li class="list-group-item">Chez Bike Boudoux Sport (Rue des Religieuses 6 à 6900 Marche-en-Famenne –
                    084 32 25 29) :
                    <a href="https://www.facebook.com/p/Bike-Boudoux-Sport-100057460967460/" target="_blank">
                        https://www.facebook.com/p/Bike-Boudoux-Sport-100057460967460/
                    </a>
                </li>
                <li class="list-group-item">
                    Chez Benoît Lambert (Chaussée de l'Ourthe 100 à 6900 Marche-en-Famenne – 084 31 32 41) :
                    <a href=" https://www.benoitlambert.be/fr/velos/les-marques" target="_blank">https://www.benoitlambert.be/fr/velos/les-marques</a>
                </li>
                <li class="list-group-item">
                    Chez Mojo Vélo (Avenue d’Ecolys 5, 5020 Suarlée, contact@mojovelo.be – 081 31 16 26) :
                    <a href="https://mojovelo.be/les-velos/" target="_blank">https://mojovelo.be/les-velos/</a>
                </li>
            </ul>
            <br/><br/>
            Plus d’infos auprès du service des Ressources humaines : <a href="mailto:traitements@marche.be">traitements@marche.be</a>
            <br/><br/>
        </div>
    </div>

{% endblock %}
