{% extends '@AcMarcheLeasing/layout.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Bienvenue sur le simulateur "leasing vélo"</h3>

        <div class="card-body">

            <div class="alert alert-info my-3">
                Cette page de simulation ne stocke aucune donnée.
                <br/>
                Aucune donnée d'identification n'étant requise,
                <br/>
                vous pouvez calculer votre leasing vélo en toute simplicité et de manière totalement anonyme.
                <br/>
                Vous aurez besoin de vos données salariales pour établir une simulation la plus précise possible.
                <br/><br/>
                Si vous souhaitez plus d'information ou valider votre leasing, veuillez contacter le service RH de la
                Ville au 084/...
            </div>

            {% include '@AcMarcheLeasing/leasing/_form.html.twig' %}

            {% if leasingData.calculated %}

                {% include '@AcMarcheLeasing/leasing/_resultat.html.twig' %}

                <div class="row my-3">
                    <div class="col-md-6">
                        <a href="{{ path('leasing_send') }}" class="btn btn-success">
                            <i class="ti ti-send-2"></i> Envoyer la demande aux ressources humaines
                        </a>
                    </div>
                </div>

                {% include '@AcMarcheLeasing/leasing/_by_year.html.twig' %}

                <hr/>
                <hr/>

                <div class="alert alert-info mt-3">
                    Ces estimations sont faites sur base d'une Allocation de fin d'année complète <br/>
                    octroyée sur base d'un taux de présence assimilé à 100% du 1er janvier au 30 septembre de l'année de
                    référence.
                </div>
            {% endif %}
        </div>
        {% include '@AcMarcheLeasing/leasing/_fiche_paie.html.twig' %}
        {% include '@AcMarcheLeasing/leasing/_fiche_afa.html.twig' %}
    </div>
{% endblock %}