{% extends '@AcMarcheLeasing/layout.html.twig' %}

{% block body %}
    <div class="card">
        <h3 class="card-header">Slides de présentation</h3>
        <div class="card-body">
            <object data="{{ absolute_url('/bundles/leasing/files/Leasing-velo-Ville-de-Marche.pdf') }}"
                    width="100%" height="650px" type="application/pdf">
                Votre navigateur ne sait pas afficher le document. <a
                        href="{{ absolute_url('/bundles/leasing/files/Leasing-velo-Ville-de-Marche.pdf') }}"
                        download="Leasing-velo-Ville-de-Marche.pdf">
                    Téléchargez-le
                </a>
            </object>
            <iframe src="{{ absolute_url('/bundles/leasing/files/Leasing-velo-Ville-de-Marche.pdf') }}" width="100%" height="600px"></iframe>
        </div>
    </div>
{% endblock %}