{% extends 'base5.html.twig' %}

{% block brand %}
    <a class="navbar-brand" href="{{ path('leasing_new') }}" title="Accueil">
        <i class="fas fa-home"></i> Leasing vélo</a>
{% endblock %}

{% block menu_top %}
    <li class="nav-item">
        <a href="{{ path('leasing_info') }}" class="nav-link">
            <i class="ti ti-info-circle"></i> Informations
        </a>
    </li>
{% endblock %}